<style type="text/css" media="screen">
@charset "UTF-8";
/*!
 *   麦奇熊车生活商户后台
 *   Author: 陈强
 *   License: Open source - MIT <http://opensource.org/licenses/MIT>
 */

html,body {
  /*设置字体*/
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
/*过长文字自动显示省略号*/
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
footer {
    /*页脚文字设置为小字号*/
    font-size: 14px;
}
.table th, .table td {
    vertical-align: middle!important;
}
.table th {
    text-align: center;
}
</style>