<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a href="{:url('logged/index')}" class="nav-link">
        <i class="nav-icon fas fa-fw fa-home"></i>
        <p>
          控制台首页
        </p>
      </a>
    </li>
    <li class="nav-item has-treeview">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-fw fa-tachometer-alt"></i>
        <p>
          示例导航
          <i class="right fas fa-angle-left"></i>
          <span class="badge badge-info right">1</span>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="{:url('logged/blank')}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>空白面板</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{:url('logged/table')}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>
              表格示例
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item has-treeview">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-fw fa-user"></i>
        <p>
          我的账户
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="#" class="nav-link" onclick="showModalIFrame('{:url("/logged/account/change-password")}')">
            <i class="far fa-circle nav-icon"></i>
            <p>修改密码</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="{:url('/login')}" class="nav-link">
        <i class="nav-icon fas fa-fw fa-sign-out-alt"></i>
        <p>退出登录</p>
      </a>
    </li>
  </ul>
</nav>
