<footer class="fixed-bottom navbar navbar-light bg-light text-reset">
  <div>
    <a class="text-muted" target="_blank" href="http://www.beian.miit.gov.cn/">
      <img src="/static/images/common/beian-icp.png"/>
      {$Think.config.extra_config.beian_icp}
    </a><br>
    <a class="text-muted" target="_blank" href="{$Think.config.extra_config.beian_gongan_url}">
      <img src="/static/images/common/beian-gongan.png"/>
      {$Think.config.extra_config.beian_gongan}
    </a>
  </div>
  <div class="text-right">
    <a href="{$Think.config.extra_config.developer_url}">
      <img src="/static/images/common/logo-20.png"/>
      {$Think.config.extra_config.developer_name}
    </a><br>
    版本号：{$Think.config.extra_config.version}
  </div>
</footer>
